node_modules

.vscode
.vs
*.d.ts
*.tgz

.bin
.cache
.cert

rune.exe
rune.zip
settings.json

debug.log
failed_tests

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.env.local
